<!DOCTYPE html>
<html lang="en" ng-app="dndHelper">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl as mainCtrl">

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
		<div class="sidebar-heading">Numpad </div>
		
		<div class="calc-display-wrapper">
			<button type="button" class="btn btn-outline-primary calc-display" data-ng-click="mainCtrl.toCalc('=')">{{ mainCtrl.calcDisplay }}</button>
		</div>
		
		<div class="calc-button-line">
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('1')">1</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('2')">2</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('3')">3</button>
		</div>
		
		<div class="calc-button-line">
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('4')">4</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('5')">5</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('6')">6</button>
		</div>
		
		<div class="calc-button-line">
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('7')">7</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('8')">8</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('9')">9</button>
		</div>
		
		<div class="calc-button-line">
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('C')">C</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('0')">0</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('>>')" ng-disabled="!mainCtrl.selectedItem" >>></button>
		</div>
		
		<div class="calc-button-line">
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('+')">+</button>
			<button type="button" class="btn btn-outline-primary calc-button" data-ng-click="mainCtrl.toCalc('-')">-</button>
		</div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Numpad</button>

		<div class="rolls-bar">
			<button type="button" class="btn btn-outline-primary rolls-display">{{mainCtrl.rolled}}{{ mainCtrl.currentRoll }}</button>
			<button type="button" class="btn btn-info roll-button" data-ng-click="mainCtrl.roll(20)">d20</button>
			<button type="button" class="btn btn-info roll-button" data-ng-click="mainCtrl.roll(12)">d12</button>
			<button type="button" class="btn btn-info roll-button" data-ng-click="mainCtrl.roll(10)">d10</button>
			<button type="button" class="btn btn-info roll-button" data-ng-click="mainCtrl.roll(6)">d6</button>
			<button type="button" class="btn btn-info roll-button" data-ng-click="mainCtrl.roll(4)">d4</button>
			<button type="button" ng-disabled="!mainCtrl.selectedItem" class="btn btn-info roll-button" data-ng-click="mainCtrl.roll('>>')">>></button>
			<button type="button" ng-disabled="!mainCtrl.currentRoll" class="btn btn-info roll-button" data-ng-click="mainCtrl.toCalc('+' + mainCtrl.currentRoll)">calc</button>
		</div>


       

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
		<!-- ---------------------------------------------------------------------
		
											MAIN
		
		---------------------------------------------------------------------- -->
      <div class="container-fluid">
		<div class="init-table">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Player</th>
						<th><span>Init</span> <button type="button" class="btn btn-success float-right" ng-click="mainCtrl.toggleNewPlayer = !mainCtrl.toggleNewPlayer">+</button></th>
					</tr>
				</thead>
				<tr ng-repeat="player in mainCtrl.players track by $index" id="{{'u'+$index}}" ng-click="mainCtrl.selecty(mainCtrl.players[$index], 'u'+$index)">
					<td>{{player.name}}</td>
					<td>
						<div>{{player.value}}</div>
						<button type="button" class="btn btn-danger float-right" ng-click="mainCtrl.removePlayer(player.name)">X</button>
					</td>
				</tr>
				<tr ng-if="mainCtrl.toggleNewPlayer">
					<td><input type="text" class="form-control" aria-label="Name..." ng-model="mainCtrl.newPlayer"></td>
					<td><button type="button" class="btn btn-success float-right" ng-click="mainCtrl.saveNewPlayer()">K</button></td>
				</tr>
			</table>
		</div>
		

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
 
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
